@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background-image: url(/faq-accordion-main/assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
  display: flex;
  justify-content: center;
}

.div-maior {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 10rem;
}

.div-principal {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  height: 70%;
  padding: 1rem 2.5rem;
  flex-wrap: wrap;
  border-radius: 10px;
  position: relative;
}

.faq-titulo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}

h3 p {
  font-size: 1rem;
}

.questions {
  display: flex;
  align-items: center;
  position: relative;
}

.img-pergunta {
  position: absolute;
  right: -30px;
  top: -5px;
}

.img-pergunta:hover {
  cursor: pointer;
}

.resposta {
  display: none;
}
