@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background-image: url(images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
  display: flex;
  justify-content: center;
}

.div-maior {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 10rem;
}

.div-principal {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  height: 75%;
  padding: 1rem 2.5rem;
  padding-right: 4rem;
  border-radius: 10px;
  position: relative;
}

.faq-titulo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

h3 p {
  font-size: 1rem;
}

.questions {
  display: inline;
  align-items: center;
  position: relative;
}

.paragrafo-question {
  display: inline;
}

.paragrafo-question:hover {
  cursor: pointer;
  color: #ad28eb;
}

.img-pergunta {
  position: absolute;
  right: -30px;
  top: -5px;
  display: inline;
}

.img-pergunta.desativado {
  display: none;
}

.img-pergunta:hover {
  cursor: pointer;
}

.minus {
  position: absolute;
  right: -30px;
  top: -5px;
  display: none;
}

.minus.ativo {
  display: inline;
}

.minus:hover {
  cursor: pointer;
}

.resposta {
  display: none;
  position: relative;
  flex-wrap: wrap;
  padding-top: 1rem;
  color: gray;
  animation: respostaAnimation 0.5s forwards;
  transition: 0.5s;
}

@keyframes respostaAnimation {
  from {
    top: -10px;
  }
  to {
    top: 3px;
  }
}

@media (max-width: 775px) {
  .resposta {
    font-size: 0.8rem;
  }
}

@media (max-width: 682px) {
  .div-principal {
    height: 85%;
  }
}

@media (max-width: 572px) {
  .div-principal {
    height: calc(100% + 100px);
    width: 60%;
  }

  .div-maior {
    padding-bottom: 15rem;
  }

  .faq-titulo {
    padding-bottom: 2rem;
    align-self: center;
  }
}

@media (max-width: 440px) {
  .div-principal {
    height: calc(100% + 200px);
  }

  .div-maior {
    padding-bottom: 20rem;
  }
}

@media (max-width: 314px) {
  .div-principal {
    height: calc(100% + 60%);
  }

  .div-maior {
    padding-bottom: 30rem;
  }
}
